@model HotelSearch.Web.Models.Response.HotelProduct.GetArrivalAutocompleteResponse
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> USER LIST</h1>
<input type="text" id="cities" name="cities" class="acInput"/>
<table class="mt-4 table table-hover table-bordered table-sm">
    <thead>
        <tr>
            <td>Ülke id</td>
            <td>Ülke</td>
            <td>Şehir</td> 
             
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.body.items.Where(a=>a.country.id.Equals("TR")))
        {
            <tr>
                <td>@item.country.id</td>
                <td>@item.country.name</td>
                <td>@item.city.name</td> 
         

            </tr>
         
        }
       
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cities").autocomplete('@Url.Action("CityList", "Hotel")');
        });
</script>
}