@model HotelSearch.Domain.Entities.User


<form method="post" asp-action="Delete">
    <h1>Kullanıcısıyı Sil</h1>

    <input asp-for="Id" hidden />


    <div class="girisalani">
        <label asp-for="Username"></label>
        <input disabled asp-for="Username" />
    </div>
    <div class="girisalani">
        <label asp-for="Password"></label>                   
        <input disabled asp-for="Password" />
    </div>
     <div class="girisalani">
        <label asp-for="Email"></label>
        <input disabled asp-for="Email" />
    </div>
     <div class="girisalani">
        <label asp-for="Registration"></label>
        <input disabled asp-for="Registration" />
    </div>
     <div class="girisalani">
        <label asp-for="Situation"></label>
        <input disabled asp-for="Situation" />
    </div>

    <button type="submit" class="kaydetmeButonu">Sil</button>
    <a asp-controller="User" asp-action="Index">Listeye geri dön</a>
</form>